<link rel="stylesheet" href="/css/about.css" type="text/css">
<%- include('../includes/navbar.ejs') %>

<div class="banner"></div>

<div class="container text-center">
    <h1 class=" mt-5 mb-5">Expert Designers and Developer trained in the creative industry who offer a bespoke, professional and trustworthy service.</h1>
    <h4 class="mb-5">We are a complete Creative and Digital Design Studio based in Manchester with an outstanding reputation for quality, bespoke designs across all digital campaings including E commerce web Design and Responsive Design</h4>
    <h4>We work with Sole Traders and Start Up Businesses thought to large global organizations such as a Blackberry. Selfridges and Harvey Nichols, so we can tailor our services to suit your needs</h4>
</div>


