<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.6.2/animate.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<!-- nav bar -->
<%- include('./includes/navbar.ejs') %>
<%- include('./includes/carousel.ejs') %>

<div class="container">
    <div class="row mt-5 mb-4  justify-content-center">
        <div class="col d-flex justify-content-center mt-5 mb-4  ">
            <img class="card-img-top" src="/image/featured/f3.jpg"  alt="Card image cap">
        </div>
        <div class="col d-flex justify-content-center mt-5 mb-4  ">
          <img class="card-img-top" src="/image/featured/f2.jpg"  alt="Card image cap">
        </div>
        <div class="col d-flex justify-content-center mt-5 mb-4  ">
          <img class="card-img-top" src="/image/featured/f1.jpg"  alt="Card image cap">
        </div>
    </div>
    <h1 class="text-center mb-4"><strong>Featured Product</strong></h1>
</div>

<%- include('./includes/footerdesign') %>
